/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');

#root {
  position: relative;
  max-width: 768px;
  max-height: 1024px;
  margin: 0px;
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  place-items: center;
}

.btnTablet {
  width: 50px;
  height: 50px;
  background: aquamarine !important;
}

.hiddenRow {
  padding: 0 !important;
}

/* LOGIN */
.imageLogin {
  height: 91vh;
  width: 768px;
  margin: 0px;
}

.imageBackgroundLogin {
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 100%);
  max-width: 768px;
}

.moduleLogin {
  width: 572px;
  height: 471px;
  background-color: white;
  border: 2px solid #E0E0E0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: -22px 47px 88px -68px rgba(0, 0, 0, 0.64);
}

.title {
  color: black;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 31px;
  margin-bottom: 0px;
  font-weight: 700;
}

.paragraphModule {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  color: #757575;
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
  margin-top: -20px;
}

#formInputUser {
  display: flex;
  width: 400px;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

#formInputPassword {
  display: flex;
  width: 400px;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.rememberCheck {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 400;
  margin: 0px;
  margin-left: 5px !important;
}

#inputGroup {
  width: 70%;
}

.inputForm {
  height: 304px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#buttonLogin {
  color: white;
  background-color: #EEA734;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 500;
  font-size: 20px;
  width: 400px;
}

.imageError {
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 100%);
  width: 768px;
  box-shadow: 10px 180px 123px 36px rgba(204, 204, 204, 1);
}

.errorLogin {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #8B0000;
}

.paragraph404 {
  position: absolute;
  display: flex;
  width: 80%;
  height: auto;
  top: 25%;
  left: 10%;
  justify-content: space-between;
}

.paragraph404 p {
  font-family: 'Rubik', sans-serif;
  font-size: 250px;
  color: #EEA734;
  font-weight: bold;
}

.messageButtonError {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: 10%;
  left: 25%;
  bottom: 10%;
}

.messageButtonError p {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

/* Home Waiter */

.home {
  width: 100vw;
  height: 100%;
}

.unstyle {
  all: unset;
}

.homeWaiterBtn {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 20px;
  border-radius: 20px;
  text-decoration: underline #87C159;
}

.welcomeContainer {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.divSections {
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
}

.titleWaiterHome {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #757575;
  margin: 0px 0px 0px 230px;
}

.menuNav {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 500;
  color: #EEA734 !important;
}

.divItemsNav {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  height: 29px;
  align-items: center;
  margin-bottom: 28px;
  /* margin-right: 34%; */
  width: 50%;
}

.DivMenuItems {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.titleOrder {
  margin: 0px;
  font-size: 20px;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 700;
  margin-left: 100px;
}

.navItems {
  margin-right: 0;
  font-size: 17px;
}

.ProductImg {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.ProductImg img {
  width: 100px;
  height: 100px;
  border: 1px solid #EEA734;
  border-radius: 20px;
  padding: 10px;
}

.ProductContainer {
  display: flex;
  flex-direction: column;
}

.ProductImgInfo {
  display: flex;
  border-color: #87C159;
  width: 304px;
  height: 149px;
  border: 1px solid #87C159;
  margin-bottom: 19px;
  border-radius: 30px;
}

.productInfo {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.nameProduct {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 700;
  margin: 20px 0px 0px 0px;
}

.priceProduct {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 500;
}

.addProduct {
  color: white;
  background-color: #EEA734;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 500;
  font-size: 15px;
  width: 111px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid #EEA734;
}

.clientName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  /* width: 35%;
  height: 40%;
  margin-bottom: 26px;
  margin-right: 20px; */
}


/* Resumen Pedido Home Waiter */
.sectionItemsResume {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  position: relative;
  bottom: 58px;
}

.divItemsResume {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.productImgResume {
  width: 280px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.productImgResume img {
  width: 70px;
  height: 70px;
  border: 1px solid #EEA734;
  border-radius: 20px;
  padding: 10px;
}

.divIconsResume {
  display: flex;
  justify-content: space-around;
  margin-top: -24px;
}

.nameProductResume {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 700;
}

.iconsPlusLess {
  display: flex;
  margin-left: 50px;
  margin-right: 70px;
  align-items: baseline;
}

.buttonDecrease {
  border: none;
  background-color: white;
}

.buttonIncrease {
  border: none;
  background-color: white;
}

.dots {
  margin: 0;
  width: 272px;
  color: #757575;
}

.divParagraph {
  display: flex;
  justify-content: space-between;
}

.totaltext {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 700;
  text-align: start;
}

.totalResult {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 700;
  margin-right: 38px;
}

#buttonOrderChefView {
  color: white;
  background-color: #EEA734;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 500;
  font-size: 20px;
  width: 265px;
}

/* HOME CHEF */

.chefContainer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleChefHome {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #757575;
  margin: 0px;
}

#cardsOrder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.buttonStatus {
  border: 1px solid #87C159;
  border-radius: 10px;
}

/* --shadows: 7px 7px 7px rgba(0, 0, 0, 0.15); */

/* FOOTER */

.footer {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 300;
  font-size: 15px;
  position: relative;
  bottom: 0;
}


@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  #root {
    position: relative;
    max-width: 1024px;
    height: 100%;
    margin: 0;
    padding: 0px;
    text-align: center;
  }

  /* LOGIN */
  .imageLogin {
    height: 95vh;
    width: 1024px;
    margin: 0px;
  }

  .imageBackgroundLogin {
    clip-path: polygon(0 0, 100% 0%, 100% 54%, 0 84%);
    max-width: 100vw;
    margin: 0;
    height: 80%;
    padding: 0;
  }

  .moduleLogin {
    top: 20%;
  }

  /* HOME WAITER */

  /* .ProductContainer{
    overflow: scroll;
  } */

  .home {
    height: 100%;
  }

  .welcomeContainer {
    height: 100px;
  }

  .titleWaiterHome {
    margin: 0px 0px 0px 284px;
  }

  .navItems {
    margin-left: 40px;
    font-size: 15px;

  }

  .ProductImgInfo {
    margin-left: 40px;
  }

  .clientName {
    margin-right: 39px;
  }

  .titleOrder {
    margin-left: 194px;
  }

  /* Resumen pedido Waiter */
  .divItemsResume {
    margin-right: 70px;
  }

  .totalResult {
    margin-right: 108px;
  }


  /* FOOTER */
  .footer {
    bottom: 10px;
  }
}